.dropdown-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 3%;
  
    .dropdown {
      position: relative;
      width: 90%;
  
      &-button {
        width: 100%;
        background: $primary;
        border: none;
        text-align: left;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        color: $white;
        height: 58px;
        line-height: normal;
        border-radius: 10px;
  
        img {
            bottom: 25%;
            margin-left: 90%;
            position: relative;
        }
      }
  
      &-content {
        display: none;
        padding: 10px;
        color: $primary;
        background: rgba(246, 246, 246, 1);
      }
  
      &.open {
        .dropdown-content {
          display: block;
        }
      }
    }
  }
  